@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind utilities;

:root {
  /* Define CSS variables for fonts if needed */
  --font-poppins: 'Poppins', sans-serif;
  --font-albert-sans: 'Albert Sans', sans-serif;
}

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-poppins); /* Default font */
  overflow-x: hidden;
  width: 100%;
}

.custom-navbar-gradient {
  background: linear-gradient(160.69deg, #ffffff 13.01%, rgba(255, 255, 255, 0) 86.99%);
}
